@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

@import "./input";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #efefef;
  font-family: Nunito;
  color: #151515;
}

#header-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header-img {
  display: inline-block;
  width: 40px;
  margin: auto 10px
}

#header-title {
  display: inline-block;
}

nav {
  position: fixed;
  color: #efefef;
  background-color: #212121;

  width: 100%;
  top: 0;
  min-height: 55px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#nav-bar a {
  color: inherit;
  text-decoration: none;
  margin: 0px 5px;

}

main {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  height: fit-content;

}


#heroSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-top: 55px;

  width: 100%;
  height: 100%;
  height: 100vh;

  div {
    width: 100%;
    max-width: 40%;

    h2 {
      margin: 20px 0px;
      font-size: 2rem;
    }

    p {
      font-size: 1rem;
    }
  }
}

#featuresSection {
  @extend #heroSection;
  margin-top: 0px;
  flex-direction: row-reverse;

  ul {
    li {
      list-style-position: inside;
      list-style: none;
      margin: 10px auto;

      img {
        vertical-align: middle;
        margin-right: 15px;

      }
    }
  }

}

#heroImg {
  height: 80%;
}

iframe {
  margin: 10px;

}




#gitSection {
  @extend #heroSection;
  height: 50vh;
  font-size: 2rem;
  margin: 20px auto;
  padding: 10px;

  a {
    text-decoration: none;
    color: #233642
  }

  div {
    text-align: center;
  }
}



@media (max-width: 600px) {
  #heroImg {
    height: 50%;
  }

  #heroSection {
    flex-direction: column;

    div {
      width: auto;
      max-width: unset;

    }
  }

  iframe {
    width: 100%;
  }
}



form {
  margin: 30px 0px;

  input[type="email"] {
    background-color: #ffffff;
    border: 1px solid #ffffff;
  }

  input[type="submit"] {
    color: #ffffff !important;
    background-color: #233642 !important;
    border: none !important;
  }
}