* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', monospace;
  color: rgb(241, 241, 241);


}

#welcome-section {
  background-color: #1a1a1a;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://picsum.photos/id/10/2500/1667");
  background-size: 100% 100%;
  background-size: 100vw 100vh;

  background-blend-mode: difference;

}

#details {
  max-width: 70%;

  h1 {
    font-size: 1.5rem;
  }

  span {

    font-size: 1.3rem;
  }
}

nav {
  display: flex;
  position: fixed;
  top: 0;
  height: 8vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #4caf50;
  color: rgb(241, 241, 241);


  a {
    background-color: #439e46;
    padding: 5px;
  }
}

a {
  color: rgb(241, 241, 241);
  text-decoration: none;
  margin: 5px;
  text-transform: capitalize;
}

@media (max-width: 400px) {
  nav {
    background-color: #4caf50;

  }
}


#project-section {
  background-color: #f44336;

  padding: 20px 10px;
}

#projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.project-tile {
  margin: auto;
  padding: 20px;
  color: rgb(241, 241, 241);


  h2 {
    margin: 8px 0px;
  }

  a {
    display: block;
    width: fit-content;
    background-color: #0202022c;
    padding: 5px;
    margin: 8px 0px;
  }

  img {
    display: block;
    width: 100%;
    border-radius: 16px;
  }
}


footer {
  background-color: #2196f3;
  text-align: center;

  h3 {
    font-size: 1.2rem;
    padding: 15px;

  }

  a {
    display: inline-block;
    width: fit-content;
    background-color: #0202022c;
    padding: 5px;
    margin: 10px;
  }
}