* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}




#navbar {
  background-color: #1c37ad1e;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 100%;
  border: none;
  z-index: 1;
  border-bottom: 2px solid gray;
  border-right: 2px solid gray;


  header {
    text-align: center;
    font-size: 1.9rem;
    color: rgb(241, 241, 241);
    background-color: #1f3bb6;
    padding: 10px;
  }

  a {
    display: block;
    padding: 10px 30px;
    color: #424242;
    text-decoration: none;
    cursor: pointer;
  }

  #navbarLinksDiv {
    margin: 20px auto;
  }

  ul {
    margin: 5px;

    li {
      border-radius: 5px;
      margin: 5px 25px;
      border: solid rgba(77, 77, 77, 0.616) 2px;
    }
  }
}



#intro {
  margin: 30px 15px;
  padding: 5px;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #3f68b3;
}

main {
  margin-left: 300px;

  section {
    margin: 100px 50px;

    header {
      font-size: 1.9rem;
      font-weight: 400;
      text-transform: capitalize;
      background-color: #1c37ad1e;
      border-radius: 5px;

      &::before {
        content: "#";

        padding: 0px 5px;
        border-radius: 5px 0px 5px 0px;

        color: #ffffff;
        background-color: #1c36ad;

      }
    }

    h4 {
      margin: 15px 0px;

    }

    p {
      background-color: rgb(245, 245, 245);
      padding: 10px;
      margin: 20px 5px;
      border-radius: 5px;


    }


    li {
      margin: 10px;

    }



    #codeBlock {
      background-color: rgb(36, 56, 82);
      padding: 15px;
      border-radius: 5px;
      color: rgb(241, 241, 241);
      width: fit-content;
      border-left-width: 5px;
      border-left-style: solid;
      border-left-color: #3fb343;
      white-space: pre-wrap;

      code {
        font-family: monospace;

      }


    }
  }
}

#warningNote {
  background-color: #ffeb3b4b;
  margin: 20px 0px 10px 0px;
  padding: 5px;

  p {
    background-color: #ffef5e;
  }

  #warningTitle {
    &::before {
      content: "!";
      padding: 15px;
      border-radius: 5px 0px 5px 0px;
      background-color: #ffeb3b;
    }

  }

}


@media only screen and (max-width: 920px) {

  /* For mobile phones: */
  #navbar {

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    border-right: none;

  }

  main {
    margin-left: 0px;

    section {
      margin: 50px 10px
    }
  }

}